<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Self-Driving Lab Interface</title>
</head>
<body>
    <h1>Self-Driving Lab Control Panel</h1>
    {% for name, form in forms.items() %}
    <h2>{{ format_name(name) }}</h2>
    <form method="post", name="{{ name }}", id="{{ name }}">
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if field.type != 'CSRFTokenField' %}
                <div>
                    {{ format_name(field.label.text) }}
                    {{ field()  }}
{#                    {% endif %}#}
                    <br>
                </div>
            {% endif %}
        {% endfor %}
{#        {{ form.submit() }}#}
        <button type="button" name="{{ name }}" onclick="submitForm('{{ name }}')">Run</button>

    </form>
    {% endfor %}
<script>
function submitForm(formId) {
    document.getElementById(formId).submit();
}
</script>
</body>
</html>
