{% extends 'base.html' %}
{% block title %}HEIN LAB | Connect Instrument{% endblock %}

{% block body %}

    <div class="container">
        <div class = "collapse {{'show' if not api_variables else ''}}" id="import">

            <form method="POST" action="/import_api" enctype="multipart/form-data">
                <div class="input-group">
                    <label class="input-group-text" for="filepath">Import API by File Path:</label>
                    <input type="text" class="form-control" name="filepath" id="filepath" required="required">
                    <input class="btn btn-secondary" type="submit" value="Import">
                </div>
            </form>
        </div>



        <div class="row">
            <div class="col-4">
                <h5>Available Python API <a role="button" class="btn btn-secondary" data-bs-toggle="collapse" href="#import">import another</a></h5>
                <hr>
                {% if api_variables %}
                    {% for instrument in api_variables %}
                        <div class="bg-white rounded shadow-sm position-relative">
                            <h5 class="p-3"> <a  href="/new_controller/{{instrument}}" class="text-dark stretched-link">{{instrument}}</a></h5>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-5">
                {% if device %}
                <h5>Connecting</h5>
                <hr>
                <form role="form" method='POST' name="init" action='/new_controller/{{instrument}}'>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <span class="input-group-text" >Name this device</span>
                            <input class="form-control" type="text" id="name" name="name" aria-labelledby="nameHelpBlock" placeholder="e.g. {{device.__name__}}1" >
                            <div id="nameHelpBlock" class="form-text">
                                Name your instrument, avoid names that are defined on the right
                            </div>
                        </div>
                        {% for arg in device.__init__.__annotations__ %}
                        <div class="input-group mb-3">
                            <span class="input-group-text" >{{arg}}</span>
                            <input class="form-control"  type="text" id="{{arg}}" name="{{arg}}"
                                   placeholder="{{device.__init__.__annotations__[arg].__name__}}"
                                   value="{{args.parameters[arg].default if not args.parameters[arg].default.__name__ == '_empty' else ''}}">
                            {% if not device.__init__.__annotations__[arg].__module__ == "builtins" %}
                            <a role="button" href="/new_controller/{{device.__init__.__annotations__[arg].__name__}}"
                               class="btn btn-secondary">initialize {{device.__init__.__annotations__[arg].__name__}} first</a>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-dark">Connect</button>
                    </div>
                </form>
                {% endif %}
            </div>
            <div class="col-3">
                <h5>Defined Instruments</h5>
                <hr>
                {% if defined_variables %}
                <div class="card card-body bg-white rounded shadow-sm">
                    <div  class="card-text">
                        <ul>
                            {% for instrument in defined_variables %}
                            <li>{{instrument}}</li>
                            {% endfor %}
                        </ul>
<!--                           <ul class="list-group">-->
<!--                               {% for instrument in defined_variables %}-->
<!--                               <li class="list-group-item">{{instrument}}</li>-->
<!--                               {% endfor %}-->
<!--                           </ul>-->
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>




{% endblock %}
