{% extends 'base.html' %}
{% block title %}Available Controllers{% endblock %}

{% block body %}

    <div class="container">
        <div>
            <form method="POST" action="/import_api" enctype="multipart/form-data">
                <div class="input-group">
                    <label class="input-group-text" for="filepath">Import API by File Path:</label>
                    <input type="text" class="form-control" name="filepath" id="filepath" required="required">
                    <input class="btn btn-secondary" type="submit" value="Import">
                </div>
            </form>
        </div>

        <div>
            <h2>Available Python API</h2>
            <div class="row">


                <div class="col-3">
                {% for instrument in api_variables %}
                <form role="form" method='GET' name="{{instrument}}" action='/new_controller/{{instrument}}'>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark" name="api" value="{{instrument}}" >{{instrument}}</button>
                    </div>
                </form>
                {% endfor %}

                </div>


                <div class="col-5">
                    {% if device %}
                        <form role="form" method='POST' name="init" action='/new_controller/{{instrument}}'>
                            <div class="form-group">
                                <label>Name this device</label>
                                <input type="text" id="name" name="name" placeholder="e.g. {{device.__name__}}1" >
                                <br>

                                {% for arg in device.__init__.__annotations__ %}
                                    <label>{{arg}}</label>
                                    <input type="text" id="{{arg}}" name="{{arg}}"
                                        placeholder="{{device.__init__.__annotations__[arg].__name__}}"
                                        value="{{args.parameters[arg].default if not args.parameters[arg].default.__name__ == '_empty' else ''}}">
                                    {% if not device.__init__.__annotations__[arg].__module__ == "builtins" %}
                                        <button type="submit" name="api" value="{{device.__init__.__annotations__[arg].__name__}}" formaction='/new_controller'
                                                class="btn btn-dark">initialize {{device.__init__.__annotations__[arg].__name__}} first</button>
                                    {% endif %}
                                    <br>
                                {% endfor %}
                                <button type="submit" class="btn btn-dark">Connect</button>
                            </div>
                        </form>


                    {% endif %}
                </div>
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            Defined Instruments Names:<br>
                            {% for instrument in defined_variables %}
                                {{instrument}}<br>
                            {% endfor %}
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

{% endblock %}

</html>